<div class="beer--box">
  <div class="beer--image-box">

    <a href="/beers/beer-{{this.id}}">
      <img class=" beer--image" src={{this.image_url}} alt="">
    </a>
  </div>
  <h2>{{this.name}}</h2>
  <p>{{this.description}}</p>
  <h4>Food Pairing</h4>
  <ul>
    {{#each this.food_pairing}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
  <p><strong>Brewers Tips:</strong> {{brewers_tips}}</p>

</div>